@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body{
    color: #434E5A;
}
img{
    width: 100%;
}
.hero-bg{
    height: 600px;
    background-color: #fff;
    background-image: url(images/bg/header-bg.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
a.join-us-now{
    background-color: #F0C9C4;
    padding: 10px;
}
.pregnant{
    height: 600px;
    background-color: #fff;
    background-image: url(images/bg/pregnant-bg.png);
    background-position: center;
    background-size: cover;
}
.service img{
    width: 150px;
}
.learn-more{
    background-image: url(images/bg/body-3.png);
    background-position: center;
    background-size: cover;
}
/* .learn-more img{
    max-width: 500px;
} */
.offer {    background-image: url(images/lady-2.png);
 height: 600px;
}
.galery,.contact-us {background-image: url(images/contact-bg.png);}
.offer,.galery, .contact-us{
 
    background-color: #fff;

    background-position: center;
    background-size: cover;
} 
.video{
    background-color: #F0CDC7;
}
.social-icon i{padding-left: 10px;}
.btn-primary-coustom{background-color: #F0CDC7 !important;}